.greenBackGround {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(30, 144, 30);
}

img {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 200px;
}

img.left {
  transform: rotate(180deg);
}

img.up {
   transform: rotate(-90deg);
}

img.down {
  transform: rotate(90deg);
}
